body{
    background-color: rgba(12, 12, 12, 0.952);
}

.circle{
    width: 40vh;
    height: 40vh;
    background-color: aqua;
    border-radius: 50%;
    border-top: 120px solid blue;
    border-bottom: 120px solid red;
    border-left: 120px solid yellow;
    border-right: 120px solid green;
    margin: 0 auto;
    transition: all 5000ms ease;
}

.circle:hover {
    transform: rotate(90deg) scale(.5);
    transition: all 1s cubic-bezier(1,-0.05, 0.23, 0.51);
}

.active{

    transform: rotate(400deg);
    border-bottom-color: crimson;
    border-left-color: darkgreen;
    border-right-color: cadetblue;
    border-top-color: chartreuse;
    background-color: black;
}

button{
    background-color: brown;
    color: white;
    width: 200px;
    height: 30px;
    display: block;
    margin: 20px auto;
    border: none;
}