body {
    background-color: grey;
}

.container {
    width: 540px;
    height: auto;
    text-align: center;
    background-color: transparent;
    background-color: darkgrey;
    margin: 20px auto;

}

.block {
    float: left;
    width: 56px;
    height: 56px;
    background-color: darkkhaki;
    border: 2px solid darkslategray;
    margin: 2px;
    box-sizing: border-box;
    padding: 8px;
    font-size: xx-large;
    
}

.right-border{
    border-right:2px solid lightcoral;
}
.left-border{
    border-left:2px solid lightcoral;
}

.top-border{
    border-top:2px solid lightcoral;
}

.bottom-border{
    border-bottom:2px solid lightcoral;
}

.block:hover {
    background-color: rgba(196, 187, 62, 0.808);
    border: 4px solid rgb(59, 124, 124);
    margin: 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.block-click{
    background-color: rgba(158, 150, 34, 0.808);
    border: 3px solid rgb(59, 124, 124);
    margin: 2px;
    box-sizing: border-box;
    cursor: pointer;
}