
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */