*::before,
*::after,
* {
    box-sizing: border-box;
}

.Opis {
    display: none;
}

td {
    border: 2px solid orangered;
    border-radius: 20%;
}



.searchValue {
    background-color: grey;
    width: 50%;
    height: 2rem;
    padding: .25rem .75rem;
    border: .2rem solid black;
    border-radius: .1rem 2rem;
    border-right-width: 1rem;
    outline: none;
    text-align: center;
    transition: border-radius 500ms;
}

.searchValue:focus {
    border-color: brown;
    animation: border-muve 2s linear infinite alternate;
}

.searchValue:hover {
    border-color: brown;
    animation: border-muve 1s linear infinite alternate;
}

@keyframes border-muve {
    0% {
        border-radius: .1rem 2rem;
        transform: scaleY(1);
        border-width: .2rem .9rem;

    }

    50% {
        border-radius: 2rem .1rem;
        transform: scaleY(.97);
        border-width: .3rem .3rem;
    }

    100% {
        border-radius: .1rem 2rem;
        transform: scaleY(1);
        border-width: .2rem .9rem;
    }

    /* 0% {
        border-radius: 2rem;
        transform: scaleX(1);
    }
    25% {
        border-radius: 2rem 0rem 2rem 0rem;
        transform: scaleX(.97);
        }
    50% {
        border-radius: 0rem 2rem 0rem 2rem;
        transform: scaleX(1);
    }
    75%{
        border-radius: 0rem ;
        transform: scaleX(.98);
    }    
    100%{
        border-radius: 2rem;
        transform: scaleX(1);
    } */
}

/* .searchValue:hover{
    border-radius:  3rem;
    transition: 1000ms;
} */




.hide {
    display: none;
}

.font_weight {
    font-weight: bold;
}